<div class="container">
    <h1>Find Match</h1>
    <div class="content">
        <div class="profile">
            <div class="img">
                <img src="https://www.clipartkey.com/mpngs/m/152-1520367_user-profile-default-image-png-clipart-png-download.png" class="image" alt="">
            </div>
            <div class="details">
                <div class="who">
                    <h3>Tsepang</h3>
                    <p> 25</p>
                </div>
                <div class="interest">
                    <p>Surfing</p>
                    <p>Movies</p>
                    <p>Swimming</p>
                    <p>Date Night</p>
                    <p>Music</p>
                </div>
                <div class="action">
                    <a href=""><i class="fa-brands fa-instagram" id="icon"></i></a>
                    <a href=""><i class="fa-brands fa-facebook" id="icon"></i></a>
                    <a href=""><i class="fa-brands fa-whatsapp" id="icon"></i></a>
                    <a href=""><i class="fa-regular fa-envelope" id="icon"></i></a>
                </div>
            </div>
        </div>
        <div class="people">
            
            <div class="card">
                <div class="box">
                    <img src="https://www.clipartkey.com/mpngs/m/152-1520367_user-profile-default-image-png-clipart-png-download.png" alt="">
                    <div class="info">
                        <div class="Id">
                            <h3>Hayley</h3>
                            <p>23</p>
                        </div>
                        <div class="interests">
                            <p>Surfing</p>
                            <p>Movies</p>
                            <p>Swimming</p>
                            <p>Date Night</p>
                            <p>Music</p>
                        </div>
                        <div class="actions">
                            <a href=""><i class="fa-brands fa-instagram" id="icons"></i></a>
                            <a href=""><i class="fa-brands fa-facebook" id="icons"></i></a>
                            <a href=""><i class="fa-brands fa-whatsapp" id="icons"></i></a>
                            <a href=""><i class="fa-regular fa-envelope" id="icons"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="box">
                    <img src="https://www.clipartkey.com/mpngs/m/152-1520367_user-profile-default-image-png-clipart-png-download.png" alt="">
                    <div class="info">
                        <div class="Id">
                            <h3>Hayley</h3>
                            <p>23</p>
                        </div>
                        <div class="interests">
                            <p>Surfing</p>
                            <p>Movies</p>
                            <p>Swimming</p>
                            <p>Date Night</p>
                            <p>Music</p>
                        </div>
                        <div class="actions">
                            <a href=""><i class="fa-brands fa-instagram" id="icons"></i></a>
                            <a href=""><i class="fa-brands fa-facebook" id="icons"></i></a>
                            <a href=""><i class="fa-brands fa-whatsapp" id="icons"></i></a>
                            <a href=""><i class="fa-regular fa-envelope" id="icons"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="box">
                    <img src="https://www.clipartkey.com/mpngs/m/152-1520367_user-profile-default-image-png-clipart-png-download.png" alt="">
                    <div class="info">
                        <div class="Id">
                            <h3>Hayley</h3>
                            <p>23</p>
                        </div>
                        <div class="interests">
                            <p>Surfing</p>
                            <p>Movies</p>
                            <p>Swimming</p>
                            <p>Date Night</p>
                            <p>Music</p>
                        </div>
                        <div class="actions">
                            <a href=""><i class="fa-brands fa-instagram" id="icons"></i></a>
                            <a href=""><i class="fa-brands fa-facebook" id="icons"></i></a>
                            <a href=""><i class="fa-brands fa-whatsapp" id="icons"></i></a>
                            <a href=""><i class="fa-regular fa-envelope" id="icons"></i></a>
                        </div>
                    </div>
                </div>
            </div>



            <div class="card">
                <div class="box">
                    <img src="https://www.clipartkey.com/mpngs/m/152-1520367_user-profile-default-image-png-clipart-png-download.png" alt="">
                    <div class="info">
                        <div class="Id">
                            <h3>Hayley</h3>
                            <p>23</p>
                        </div>
                        <div class="interests">
                            <p>Surfing</p>
                            <p>Movies</p>
                            <p>Swimming</p>
                            <p>Date Night</p>
                            <p>Music</p>
                        </div>
                        <div class="actions">
                            <a href=""><i class="fa-brands fa-instagram" id="icons"></i></a>
                            <a href=""><i class="fa-brands fa-facebook" id="icons"></i></a>
                            <a href=""><i class="fa-brands fa-whatsapp" id="icons"></i></a>
                            <a href=""><i class="fa-regular fa-envelope" id="icons"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="box">
                    <img src="https://www.clipartkey.com/mpngs/m/152-1520367_user-profile-default-image-png-clipart-png-download.png" alt="">
                    <div class="info">
                        <div class="Id">
                            <h3>Hayley</h3>
                            <p>23</p>
                        </div>
                        <div class="interests">
                            <p>Surfing</p>
                            <p>Movies</p>
                            <p>Swimming</p>
                            <p>Date Night</p>
                            <p>Music</p>
                        </div>
                        <div class="actions">
                            <a href=""><i class="fa-brands fa-instagram" id="icons"></i></a>
                            <a href=""><i class="fa-brands fa-facebook" id="icons"></i></a>
                            <a href=""><i class="fa-brands fa-whatsapp" id="icons"></i></a>
                            <a href=""><i class="fa-regular fa-envelope" id="icons"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>