<div class="login">
  <header class="login-header">
    <div class="header-icon"></div>
    <div class="header-title">Log In</div>
    <div class="header-subsection">holiday made easy</div>
  </header>
  <div class="login-body">
    <div class="body-inputs">
      <input
        type="email"
        class="input"
        [(ngModel)]="user.email"
        required="true"
      />
      <label for="email" class="label email">Enter Email</label>
    </div>
    <div class="body-inputs">
      <input
        type="password"
        class="input"
        [(ngModel)]="user.password"
        required="true"
      />
      <label for="password" class="label password">Enter Password</label>
    </div>
    <div class="checkbox">
      <div class="checkbox-wrapper-31">
        <input type="checkbox" />
        <svg viewBox="0 0 35.6 35.6">
          <circle class="background" cx="17.8" cy="17.8" r="17.8"></circle>
          <circle class="stroke" cx="17.8" cy="17.8" r="14.37"></circle>
          <polyline
            class="check"
            points="11.78 18.12 15.55 22.23 25.17 12.87"
          ></polyline>
        </svg>
      </div>
      <label for="remeber">remember me</label>
    </div>
    <div class="terms">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis
      voluptatum, sed provident quidem, animi rerum, facere accusantium .
    </div>
  </div>
  <div class="login-button" (click)="handleLoginRequest()">
    <a> Log In </a>
  </div>
  <div class="terms" routerLink="/auth/signup">
    <p>don't have an account ? create account</p>
  </div>
</div>

<div class="splash-screen">
  <div class="screen-loader">
    <!-- <span class="loader"></span> -->
    <span
      class="heart"
      style="
        font-size: 3rem;
        color: white;
        filter: drop-shadow(0px 0px 40px #00000090);
      "
      >❤</span
    > 
  </div>
</div>