<div class="auth">
  <div class="auth-container container">
    <div class="container-illustration">
      <div class="illustration-gif">
        <img src="../../assets/cupid.gif" alt="" srcset="" />
      </div>
      <div class="illustration-overlay">
        <div class="overlay-text">
          <div class="text-watermark">Cupid</div>
          <div class="text-main">Cupid.</div>
        </div>
      </div>
    </div>
    <div class="container-form">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

