.auth {
  height: 100vh;
  width: 100vw;
  background: white;
  display: grid;
  place-content: center;
  padding: 0;
}

.auth-container.container {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  gap: 0;
  width: 100vw !important;
  max-width: 100vw !important;
}

.container-illustration {
  width: 75vw;
  height: 100vh;
  position: relative;
  display: grid;
  place-content: center;
}

.container-form {
  width: 25vw;
  background: white;
  filter: drop-shadow(30px 0px 25px #00000075);
}

.illustration-gif {
  height: 100vh;
  width: 100%;
  background: #ffffff50;
  display: grid;
  place-content: center;
}

.illustration-overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff40;
}

.illustration-gif img {
  height: 90vh;
}

.overlay-text {
  position: relative;
  font-size: 15rem;
}

.text-main {
  font-family: var(--quicksand);
  font-weight: 500;
  font-family: "Herr Von Muellerhoff", cursive;
  font-weight: normal;
  font-size: 27.5rem;
  color: var(--base-color);
}

.text-watermark {
  font-family: var(--quicksand);
  font-weight: 500;
  position: absolute;
  top: 15vh;
  left: 2vw;
  filter: drop-shadow(0px 0px 25px #ffffff);
  color: var(--secondary-color);
}

.container-form {
  padding: 10rem 2.5rem;
}

.loader {
  width: 48px;
  height: 48px;
  display: inline-block;
  position: relative;
  transform: rotate(45deg);
}
.loader::before {
  content: "";
  box-sizing: border-box;
  width: 24px;
  height: 24px;
  position: absolute;
  left: 0;
  top: -24px;
  animation: animloader 4s ease infinite;
}
.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 24px;
  height: 24px;
  background: rgba(255, 255, 255, 0.85);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  animation: animloader2 2s ease infinite;
}

@keyframes animloader {
  0% {
    box-shadow: 0 24px rgba(255, 255, 255, 0), 24px 24px rgba(255, 255, 255, 0),
      24px 48px rgba(255, 255, 255, 0), 0px 48px rgba(255, 255, 255, 0);
    transform: scale(1);
  }
  12% {
    box-shadow: 0 24px white, 24px 24px rgba(255, 255, 255, 0),
      24px 48px rgba(255, 255, 255, 0), 0px 48px rgba(255, 255, 255, 0);
  }
  25% {
    box-shadow: 0 24px white, 24px 24px white, 24px 48px rgba(255, 255, 255, 0),
      0px 48px rgba(255, 255, 255, 0);
  }
  37% {
    box-shadow: 0 24px white, 24px 24px white, 24px 48px white,
      0px 48px rgba(255, 255, 255, 0);
  }
  50% {
    box-shadow: 0 24px white, 24px 24px white, 24px 48px white, 0px 48px white;
  }
  62% {
    box-shadow: 0 24px rgba(255, 255, 255, 0), 24px 24px white, 24px 48px white,
      0px 48px white;
  }
  75% {
    box-shadow: 0 24px rgba(255, 255, 255, 0), 24px 24px rgba(255, 255, 255, 0),
      24px 48px white, 0px 48px white;
  }
  87% {
    box-shadow: 0 24px rgba(255, 255, 255, 0), 24px 24px rgba(255, 255, 255, 0),
      24px 48px rgba(255, 255, 255, 0), 0px 48px white;
  }
  100% {
    box-shadow: 0 24px rgba(255, 255, 255, 0), 24px 24px rgba(255, 255, 255, 0),
      24px 48px rgba(255, 255, 255, 0), 0px 48px rgba(255, 255, 255, 0);
    transform: scale(1.1);
  }
}

@keyframes animloader2 {
  0% {
    transform: translate(0, 0) rotateX(0) rotateY(0);
    transform: scale(1);
  }
  25% {
    transform: translate(100%, 0) rotateX(0) rotateY(180deg);
  }
  50% {
    transform: translate(100%, 100%) rotateX(-180deg) rotateY(180deg);
  }
  75% {
    transform: translate(0, 100%) rotateX(-180deg) rotateY(360deg);
  }
  100% {
    transform: translate(0, 0) rotateX(0) rotateY(360deg);
    transform: scale(1.1);
  }
}

.screen-loader {
  display: grid;
  place-content: center;
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #fda8da70;
  transform: scale(0);
  transition: all 1s;
  transform-origin: center;
}

.loading {
  transform: scale(1);
  transition: all 1s;
}

.heart {
  animation: pop 1.5s ease-in alternate forwards infinite;
}

@keyframes pop {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(2);
  }
}
