.card {
  min-width: 35vw;
  min-height: 35vh;
  width: 35vw;
  height: fit-content;
  padding: 2rem;
  border: 2px solid transparent;
  filter: drop-shadow(0px 0px 5px #00000010);
  background: white;
  border-radius: 10px;
  display: flex;
  margin-left: 2.5rem;
  flex-flow: column;
  align-items: stretch;
  height: 100%;
  overflow: hidden;
  min-height: 37.5vh;
}

.card-container {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  height: 100%;
  position: relative;
}

.container-content {
  min-width: 33.5%;
  height: 100%;
  display: flex;
  flex-flow: column;
  gap: 0.5rem;
  width: 65%;
}

.content-name {
  font-size: 1.75rem;
}

.content-shop {
  display: flex;
  flex-flow: row;
  gap: 0.5rem;
  font-weight: bold;
  color: var(--secondary-color);
  margin-bottom: 1rem;
  cursor: pointer;
  transition: all 1s;
  width: max-content;
}

.content-shop:hover {
  transition: all 0.5s;
  margin-left: 1rem;
}

.container-content a {
  font-size: 1.05rem;
  font-weight: bold;
  color: white;
  padding: 0.5rem 1.25rem;
  background: var(--base-color);
  width: max-content;
  border-radius: 2.5rem;
  text-decoration: none;
  transition: all 1s;
  margin-top: 0.5rem;
  outline: none;
}

.container-content a:hover {
  transition: all 0.75s;
  transform: scale(1.1);
}

.container-thumbnail {
  width: 45%;
  display: grid;
  place-content: center;
  overflow: hidden;
}

.thumbnail-container-image {
  width: 12.5vw;
  height: 12.5vw;
}

.thumbnail-container-image {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.container-image- {
  min-height: 10vh;
  min-width: 10vh;
  height: 100%;
  width: 100%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.price {
  font-size: 1.25rem;
  color: #000000;
  display: flex;
  gap: 1rem;
  margin-top: auto;
  font-weight: bold;
}

.container-discount-badge {
  position: absolute;
  top: -1rem;
  right: -4rem;
  background: var(--secondary-color);
  color: white;
  text-align: center;
  width: 7.5vw;
  padding: 0.5rem;
  font-weight: 700;
  transform: rotate(45deg);
}

.tag {
  font-size: 0.75rem;
  font-weight: 600;
  color: white;
  background: var(--secondary-color);
  width: max-content;
  padding: 0rem 1rem;
  border-radius: 25px;
}

.content-tags {
  display: flex;
  flex-flow: row;
  gap: 0.5rem;
}

.price-recent {
  color: #c1c1c1;
  text-decoration: line-through;
  font-weight: 500;
}

.price-recent::after {
  content: "ZAR";
}
