<main>
  <div
    class="card"
    *ngIf="product"
    data-aos="zoom-in"
    [id]="product.product_id"
  >
    <div class="card-container">
      <div
        class="container-discount-badge"
        *ngIf="product.discount_shown === true"
      >
        sale
      </div>
      <div class="container-content">
        <div class="content-name">{{ product.name }}</div>
        <div class="content-tags">
          <div class="tag" *ngFor="let tag of product.tags">
            {{ tag }}
          </div>
        </div>
        <div class="content-shop">
          <div class="shop-icon"></div>
          <div class="shop-text">{{ product.shop }}</div>
        </div>
        <div class="price">
          <div class="price-current">
            {{ product.price - product.discount }} ZAR
          </div>
          <div class="price-recent" *ngIf="product.discount > 0">
            {{ product.price }}
          </div>
        </div>
        <a [href]="product.url">Shop At {{ product.shop }}</a>
      </div>
      <div class="container-thumbnail">
        <div class="thumbnail-container-image">
          <div
            class="thumbnail-container-image"
            style="background-image: url({{product.image}}); min-height: 10vh; min-width: 10vh;"
            *ngIf="product.image"
          ></div>

          <div
            class="thumbnail-container-alternative"
            *ngIf="product.image.length < 5"
          >
            <div class="spinner-border" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
