.card-left-content {
  position: relative;
}

.vertical-card {
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  gap: 2rem;
  overflow: hidden;
  max-height: 35vh;
  margin-bottom: 5rem;
}

.card-left-image {
  overflow: hidden;
  height: 35vh;
  width: 225vw;
  display: grid;
  place-content: center;
  border-radius: 10px 0 0 10px;
}

.content-title {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

img {
  -webkit-mask-box-image: stretch;
  height: 35vh;
}

.content-route {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: linear-gradient(0deg, #ffffff, #ffffff20);
  padding: 2rem 0rem 1rem 0;
  display: grid;
  place-content: center;
}

a.content-route-a {
  width: 100%;
  text-align: center;
  color: black;
  font-weight: bold;
  transition: all 1s;
}

a.content-route-a:hover {
  transition: all 0.75s;
  text-decoration: none;
  color: var(--base-color);
}

.content-important {
  margin: 1rem 0;
  display: flex;
  flex-flow: column;
  gap: 0.5rem;
}

.important-info {
  display: flex;
  flex-flow: row;
  gap: 0.75rem;
  font-size: 1rem;
  font-weight: 500;
  color: var(--base-color);
  filter: drop-shadow(0px 0px 5px #f1a9dc);
  cursor: pointer;
}

.accommodation-title.accommodation-title {
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 1.25rem;
  text-transform: capitalize;
}

.accommodation-description {
  font-size: 1rem;
  text-transform: lowercase;
}

.rating {
  display: flex;
  flex-flow: row;
  gap: 1rem;
  font-size: 1.5rem;
}

.buttons {
  margin-top: auto;
}

.accommodation-right {
  display: flex;
  flex-flow: column;
  padding-bottom: 1.5rem;
}

.buttons {
  display: flex;
  flex-flow: row;
  gap: 1rem;
}

.buttons-social {
  display: flex;
  flex-flow: row;
  gap: 1rem;
}

.social {
  height: 4vh;
  width: 4vh;
  display: grid;
  place-content: center;
  border-radius: 50%;
  color: white;
}

a.social-link {
  color: white;
  transition: all 1s;
}

.social-link:hover {
  opacity: 0.75;
  transition: all 0.75s;
}

.buttons-website {
  padding: 0 1.5rem;
  display: grid;
  place-content: center;
  border-radius: 2rem;
}

a.website-button {
  color: white;
  text-decoration: none;
  border-radius: 2rem;
  transition: all 1s;
}

.buttons-website:hover {
  opacity: 0.75;
  transition: all 0.75s;
}

i.bi.bi-star-fill.star-active.star {
  color: gold;
  cursor: pointer;
}

ngb-rating {
  color: gold;
  font-size: 40px;
}

.star {
  position: relative;
  display: inline-block;
  font-size: 3rem;
  color: #d3d3d3;
}
.full {
  color: gold;
}
.half {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  color: gold;
}

.accommodation-left-image.accommodation-image {
  min-width: 590px;
  display: grid;
  place-content: center;
}

