.primary {
  background: var(--base-color);
  color: var(--base-color);
  border-radius: 20px;
  font-weight: bold;
  text-transform: capitalize;
  padding: 0.25rem 1.5rem;
  border: 2px solid var(--base-color);
  min-width: 10vw;
  display: flex;
  justify-content: space-between;
  background: transparent;
  align-items: center;
  height: 43.64px;

  i {
    transition: all 0.275s;
  }

  &:hover {
    background-color: var(--base-color);
    transition: all .5s;
    color: white;
    border-color: var(--base-color);
    i {
      transform: translateX(5px);
      transition: all 0.125s;
    }
  }
}

.card {
  width: 100%;
  border: 2px solid transparent;
  border-radius: 20px;
}

.card-body {
  gap: 1rem;
  display: flex;
  flex-flow: column;
  padding: unset;
}

.tags {
  display: flex;
  flex-flow: row;
  gap: 0.5rem;
}

.section-header-options {
  display: flex;
  flex-flow: row;
  gap: 1rem;
}
