  <div class="nav">
  <div class="nav-container">
    <div class="container-brand" routerLink="/">
      <span
        class="brand-icon"
        style="background-image: url('../../../assets/icon.png')"
      ></span>
      <div class="brand-text">Cupid</div>
    </div>
    <div class="container-links" [@slideInOut]="menuState">
      <div
        class="links-route"
        routerLinkActive="nav-route-active"
        routerLink="/shop/gifts"
      >
        gifts
      </div>
      <div
        class="links-route"
        routerLinkActive="nav-route-active"
        routerLink="/shop/events"
      >
        Events
      </div>
      <div
        class="links-route"
        routerLinkActive="nav-route-active"
        routerLink="/shop/accommodations"
      >
        Accommodation
      </div>
      <div
        class="links-route"
        routerLinkActive="nav-route-active"
        routerLink="/shop/movies"
      >
        Movies
      </div>
      <div
        class="links-route"
        routerLinkActive="nav-route-active"
        routerLink="/shop/podcasts"
      >
        Podcasts
      </div>
    </div>

    <div class="container-buttons">
      <div class="button-button">
        <cup-button>
          <div class="bi bi-heart"></div>
        </cup-button>
      </div>
      <div class="button-button">
        <cup-button>
          <div class="bi bi-search"></div>
        </cup-button>
      </div>
      <div class="button-button">
        <cup-button>
          <div class="bi bi-cart"></div>
        </cup-button>
      </div>
      <div class="button-button">
        <cup-button>
          <div class="bi bi-arrow-right-square"></div>
        </cup-button>
      </div>
    </div>
  </div>
</div>
<div class="ham" (click)="handleSideNav()">
  <i class="bi bi-list"></i>
</div>
