// @import url("./mobile.scss");
@import url("https://fonts.googleapis.com/css2?family=Allison&family=Alumni+Sans:wght@200;300;600&family=Quicksand:wght@300;400;500;700&display=swap");

@mixin scrollbars(
  $size,
  $foreground-color,
  $background-color: mix($foreground-color, white, 50%)
) {
  // For Google Chrome
  &::-webkit-scrollbar {
    width: $size;
    height: $size;
  }

  &::-webkit-scrollbar-thumb {
    background: $foreground-color;
  }

  &::-webkit-scrollbar-track {
    background: $background-color;
  }

  // For Internet Explorer
  & {
    scrollbar-face-color: $foreground-color;
    scrollbar-track-color: $background-color;
  }
}

:root {
  --base-color: #ffa9dc;
  --secondary-color: #b2b0f7;
  --third-color: #dedffe;
  --base-white: #ffffff;
  --base-black: #000000;
  --herr: "Herr Von Muellerhoff", cursive;
  --quicksand: "Quicksand", sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--quicksand);
  transition: all 1s;
}

body {
  transition: all 1s;
}

.section {
  display: flex;
  flex-flow: column;
  gap: 1rem;
  padding: 2em 12em;
}

.tags-tag {
  padding: 0.5rem 1.5rem;
  background: #ededed;
  border-radius: 25px;
  cursor: pointer;
}

.loader {
  width: 48px;
  height: 48px;
  display: inline-block;
  position: relative;
  transform: rotate(45deg);
}
.loader::before {
  content: "";
  box-sizing: border-box;
  width: 24px;
  height: 24px;
  position: absolute;
  left: 0;
  top: -24px;
  animation: animloader 4s ease infinite;
}
.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 24px;
  height: 24px;
  background: rgba(255, 255, 255, 0.85);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  animation: animloader2 2s ease infinite;
}

@keyframes animloader {
  0% {
    box-shadow: 0 24px rgba(255, 255, 255, 0), 24px 24px rgba(255, 255, 255, 0),
      24px 48px rgba(255, 255, 255, 0), 0px 48px rgba(255, 255, 255, 0);
    transform: scale(1);
  }
  12% {
    box-shadow: 0 24px white, 24px 24px rgba(255, 255, 255, 0),
      24px 48px rgba(255, 255, 255, 0), 0px 48px rgba(255, 255, 255, 0);
  }
  25% {
    box-shadow: 0 24px white, 24px 24px white, 24px 48px rgba(255, 255, 255, 0),
      0px 48px rgba(255, 255, 255, 0);
  }
  37% {
    box-shadow: 0 24px white, 24px 24px white, 24px 48px white,
      0px 48px rgba(255, 255, 255, 0);
  }
  50% {
    box-shadow: 0 24px white, 24px 24px white, 24px 48px white, 0px 48px white;
  }
  62% {
    box-shadow: 0 24px rgba(255, 255, 255, 0), 24px 24px white, 24px 48px white,
      0px 48px white;
  }
  75% {
    box-shadow: 0 24px rgba(255, 255, 255, 0), 24px 24px rgba(255, 255, 255, 0),
      24px 48px white, 0px 48px white;
  }
  87% {
    box-shadow: 0 24px rgba(255, 255, 255, 0), 24px 24px rgba(255, 255, 255, 0),
      24px 48px rgba(255, 255, 255, 0), 0px 48px white;
  }
  100% {
    box-shadow: 0 24px rgba(255, 255, 255, 0), 24px 24px rgba(255, 255, 255, 0),
      24px 48px rgba(255, 255, 255, 0), 0px 48px rgba(255, 255, 255, 0);
    transform: scale(1.1);
  }
}

@keyframes animloader2 {
  0% {
    transform: translate(0, 0) rotateX(0) rotateY(0);
    transform: scale(1);
  }
  25% {
    transform: translate(100%, 0) rotateX(0) rotateY(180deg);
  }
  50% {
    transform: translate(100%, 100%) rotateX(-180deg) rotateY(180deg);
  }
  75% {
    transform: translate(0, 100%) rotateX(-180deg) rotateY(360deg);
  }
  100% {
    transform: translate(0, 0) rotateX(0) rotateY(360deg);
    transform: scale(1.1);
  }
}

.screen-loader {
  display: grid;
  place-content: center;
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #fda8da70;
  transform: scale(0);
  transition: all 1s;
  transform-origin: center;
}

.loading {
  transform: scale(1);
  transition: all 1s;
}

.heart {
  animation: pop 1.5s ease-in alternate forwards infinite;
}

@keyframes pop {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(2);
  }
}

/* Importing Bootstrap SCSS file. */
@import "bootstrap/scss/bootstrap";

@media (max-width: 1024px) {
  .section {
    padding: 2rem 1rem;
  }

  .nav-container {
    position: relative;
    /* padding: 2rem 0; */
    flex-flow: column !important;
    gap: 0.5rem !important;
    min-width: unset !important;
  }

  .container-links {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    transform: translate3d(100%, 0, 0);
    right: 0;
    background: var(--base-color);
    animation-fill-mode: forwards;
    flex-flow: column !important;
    justify-content: flex-start !important;
    text-align: end;
    padding: 0 2rem;
  }

  .brand-text {
    font-size: 1.25rem !important;
  }

  .header-container {
    font-size: 1rem !important;
    display: grid;
    place-content: center;
  }

  .header {
    padding: unset !important;
    overflow: hidden;
    align-items: center !important;
    min-height: 40vh !important;
    margin-bottom: 2.5rem;
  }

  .container-main {
    font-size: 5rem !important;
    left: 20.5%;
    display: none;
  }

  .container-watermark {
    color: var(--base-color) !important;
  }

  .section {
    padding: 2em 0em !important;
  }

  .options {
    flex-flow: column !important;
    overflow: hidden;
  }

  .section-header-tags {
    flex-wrap: wrap !important;
    flex-flow: wrap !important;
    overflow-x: scroll;
    display: none !important;
  }

  .vertical-card {
    flex-flow: column !important;
    max-height: fit-content !important;
  }

  span.brand-icon {
    image-rendering: optimizespeed;
    width: 5vh !important;
  }

  .button-button {
    font-size: 0.75rem !important;
    color: white !important;
  }

  .container-buttons {
    margin: unset !important;
  }

  .nav {
    padding: 1.5rem 0 !important;
  }

  .container-brand {
    overflow: hidden;
    height: 5vh;
    transition: all 1s;
  }

  .container-brand-active {
    height: 0vh;
    transition: all 0.75s;
  }

  .container-watermark {
    font-size: 4.5rem !important;
    text-align: center;
    width: 100%;
  }

  .accommodation-left-image img {
    height: 25vh !important;
  }

  .accommodation-left-image.accommodation-image {
    min-width: unset !important;
  }

  .accommodation-right {
    align-items: center;
    padding: 1rem;
    text-align: center !important;
  }

  .accommodation-title.accommodation-title {
    font-size: 1.75rem !important;
    font-weight: bold !important;
  }

  .section-header-title {
    text-align: center;
    font-weight: bold;
  }

  .search {
    padding: 1rem 1rem !important;
    justify-content: center;
    width: 100%;
  }

  .search-button {
    display: none !important;
  }

  input.search-input {
    width: 100%;
    border: 2px solid #ffe0f2 !important;
    background: #ffa9dc2e !important;
    padding-right: 1rem !important;
  }

  a#button {
    color: black;
  }

  //   #region GIFTS
  .scroll-card {
    width: 100vw !important;
    padding: 0.5rem !important;
    flex-flow: column !important;
    align-items: center;
  }

  .card {
    width: 90vw !important;
    margin: unset !important;
    padding: 1rem !important;
  }

  .card-container {
    width: 100% !important;
    display: flex;
    flex-flow: column !important;
    align-items: center;
  }

  .card-container {
    display: flex;
    flex-flow: column-reverse !important;
    width: max-content;
  }

  .container-thumbnail {
    width: 250px !important;
    height: 250px;
  }

  .thumbnail-container-image {
    height: 225px !important;
    width: 250px !important;
  }

  .container-content {
    width: 100% !important;
    align-items: center;
    text-align: center !important;
  }

  .shop-icon {
    display: none;
  }

  .ham {
    bottom: 1rem;
    right: 1rem;
    height: 6vh;
    width: 6vh;
    display: grid !important;
    place-content: center;
    font-size: 1.5rem;
    color: white;
    background: var(--base-color);
    z-index: 999;
    position: fixed;
    border: 2px solid white;
    border-radius: 50%;
    line-height: 2;
    padding: 0.5rem;
  }

  .section-header-options {
    flex-flow: column !important;
    padding: 0 2rem;
  }

  .collapse-horizontal.collapse.show {
    overflow-x: scroll;
  }

  .card-left-image img {
    height: 20vh !important;
  }

  .card-left-image {
    width: calc(100vw - 4rem) !important;
  }

  .vertical-card {
    padding: 2rem;
  }

  .section-header-options {
    flex-flow: column !important;
    padding: 0 2rem;
  }

  .collapse-horizontal.collapse.show {
    overflow-x: scroll;
  }

  .links-route.ng-tns-c51-0 {
    font-size: 1.25rem !important;
  }

  .nav-route-active {
    filter: drop-shadow(0px 0px 10px black);
    width: max-content;
  }

  .container-links {
    align-items: flex-end !important;
    justify-content: flex-end !important;
    padding: 5rem 1.5rem !important;
  }

  .container-discount-badge {
    transform: unset !important;
    right: 0rem !important;
    border-radius: 0 0 10px 10px;
    padding-bottom: 1rem !important;
  }

  .container-illustration {
    width: 100vw !important;
    display: none !important;
  }

  .auth-container.container {
    position: relative;
  }

  .container-form {
    /* position: absolute; */
    width: 80vw !important;
    padding: 2rem !important;
    filter: drop-shadow(0px 0px 5px #00000020) !important;
    border-radius: 10px;
  }

  .illustration-gif img {
    height: 71vh !important;
  }

  .overlay-text {
    font-size: 2rem !important;
  }

  .text-main {
    font-size: 2rem !important;
  }

  .login-button {
    text-align: center;
    background: var(--base-color);
    padding: 0.5rem;
    border-radius: 2rem;
    color: white !important;
  }

  .auth {
    background: var(--base-color) !important;
  }

  .header-title {
    font-size: 2rem !important;
  }
}
