@mixin scrollbars(
  $size,
  $foreground-color,
  $background-color: mix($foreground-color, white, 50%)
) {
  // For Google Chrome
  &::-webkit-scrollbar {
    width: $size;
    height: $size;
  }

  &::-webkit-scrollbar-thumb {
    background: $foreground-color;
  }

  &::-webkit-scrollbar-track {
    background: $background-color;
  }

  // For Internet Explorer
  & {
    scrollbar-face-color: $foreground-color;
    scrollbar-track-color: $background-color;
  }
}

.section {
  display: flex;
  flex-flow: column;
  gap: 1rem;
  padding: 2em 12em;
}

header.sections-header {
  display: flex;
  flex-flow: column;
  gap: 0.75rem;
}

.section-header-title {
  font-size: 2.5rem;
  font-weight: 500;
  pointer-events: none;
}

.section-header-tags {
  display: flex;
  flex-flow: row;
  gap: 1.5rem;
  padding: 1em 0;
}

.tag {
  padding: 0.5rem 1.25rem;
  background: #ededed;
  border: 2px solid transparent;
  border-radius: 7.5rem;
  font-size: 0.85em;
  font-weight: bold;
  cursor: pointer;
  transition: all 1s;
}

.tag:hover {
  background: var(--base-color);
  color: white;
  transition: all 0.2s;
}
section.section-scroll {
  display: flex;
  flex-flow: wrap;
  justify-content: flex-start;
}

.scroll-card {
  scroll-snap-type: x mandatory;
  display: flex;
  flex-flow: row;
  width: calc(100vw - 24em);
  overflow: hidden;
  overflow-x: scroll;
  padding: 1rem 0;
  @include scrollbars(10px, rgb(255, 255, 255), rgb(255, 255, 255));
}
